<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="DefaultConnection" 
         connectionString="Server=(local);Database=Rework_AppThiTracNghiem;Integrated Security=True;TrustServerCertificate=true;MultipleActiveResultSets=true;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>